div, header, section, footer, input, button, ul, li {box-sizing: border-box; margin:0; padding:0;}

body{
    font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
   background: silver;

}

.wrap{
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: #ecf0f1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
    margin-bottom: 15px;
}

/*@media (min-width: 678px) {
    .wrap{
        width: 100%;
    }
    header{
        left:0;
    }
}*/


header{
    width: 100%;
    max-width: 970px;
    height: auto;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

header .dodo-logo{
    position:absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;
    height:55px;
}

header .dodo-logo h3{
    margin:0;
    padding:0 0px 0 0px;
    color:#fff;
    font-weight: 400;
    font-size: 1.6em;
    font-family: 'Indie Flower', cursive;
}

header .dodo-input{
    height:120px;
    padding:55px 15px 15px 15px;
    /*background: #9ec5da;*/
    box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #fd746c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff9068, #fd746c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff9068, #fd746c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header .dodo-input input {
    width: 100%;
    height: 50px;
    float: left;
    color: #fff;
    font-size: 0.8em;
    font-weight: 400;
    text-indent: 18px;
    padding: 0 80px 0 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    border: 0px;
    box-shadow: none;
    outline: none;
}


header .dodo-input button {
    width: 70px;
    height: 50px;
    position:absolute;
    top:55px;
    right:15px;
    border-radius: 0px 10px 10px 0px;
    background: #fff;
    color: #fd746c;
    border: 0px;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

header .dodo-input button:hover{
    background: rgba(255,255,255,0.8);
}


section {
    width: 100%;
    padding: 140px 15px 15px 15px;
}

ul.dodo-todo {
    width: 100%;
    list-style: none;
    float: left;
    margin-top: 10px;
}

ul.dodo-todo li {
    position: relative;
    width: 100%;
    min-height: 50px;
    float: left;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);
    margin: 0 0 10px 0;
    padding: 14px;
}

ul.dodo-todo li:last-of-type {
    margin: 0;
}

ul.dodo-todo li .text{
    float:left;
    font-size: 0.8em;
    color: #444;
    line-height: 22px;
    padding: 0 60px 0 60px;
}

ul.dodo-todo li .text-done{
    float:left;
    font-size: 0.8em;
    color: #999;
    line-height: 22px;
    padding: 0 60px 0 60px;
    text-decoration: line-through;
}

ul.dodo-todo li .button-done{
    position:absolute;
    width: 50px;
    height:50px;
    top:0;
    left:0;
    background: transparent;
}

ul.dodo-todo li .button-undone{
    position:absolute;
    width: 50px;
    height:50px;
    top:0;
    left:0;
    background: transparent;
}

ul.dodo-todo li .button-delete{
    position:absolute;
    width: 50px;
    height:50px;
    top:0;
    right: 0;
    background: transparent;
}

ul.dodo-todo li .button-done button{
    width:50px;
    height:50px;
    border-radius: 10px 0px 0px 10px;
    margin:0;
    color: #bdc3c7;
    background: transparent;
    border: 0px;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
ul.dodo-todo li .button-done button:hover{
    color:#fff;
    background:#a8e063;
}

ul.dodo-todo li .button-undone button{
    width:50px;
    height:50px;
    border-radius: 10px 0px 0px 10px;
    margin:0;
    color: #bdc3c7;
    background: transparent;
    border: 0px;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
ul.dodo-todo li .button-undone button:hover{
    color:#fff;
    background:#bdc3c7;
}


ul.dodo-todo li .button-delete button{
    width:50px;
    height:50px;
    border-radius: 0px 10px 10px 0px;
    margin:0;
    color: #bdc3c7;
    background: transparent;
    border: 0px;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
ul.dodo-todo li .button-delete button:hover{
    color:#fff;
    background:#fd746c;
}


footer {
    font-size:0.5em;
    text-align: center;
}


/*----------------------------------------------------*/

section:after,
ul:after,
li:after,
.button-delete:after,
.button-done:after,
.button-undone:after,
.text:after,
.wld_clear:after {
    content: "";
    display: table;
    clear: both;
}

header .dodo-input input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}
header .dodo-input input::-moz-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}
header .dodo-input input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}